<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="public\style.css">
</head>
<body>
	<header>
		<label class="logo">Nutristy</label>
		<ul>
			<li><a href="/">Home</a></li>
		    <li><a href="/register">SignUp</a></li>
		</ul>
	</header>
	<br>
	<br>
	<div class="container" > 
        <div class="row"> 
        <div class="col-md-3"> 
        	        
        </div> 
                  
        <div class="col-md-6 main">
			<form action="/login" method="POST">
			    <label for="name">UserName</label>
			    <input type="text" placeholder="username" id="xyz" name="name">
			    <label for="password">Password</label>
			    <input type="password" placeholder="password" id="password" name="password">
			    <button>Login</button>
			</form>
			
		</div>
</body>
</html>