<!DOCTYPE html> 
<html> 
<head> 
    <title> Signup Form</title> 
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">     
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">       
</head> 
<body> 
    <header>
        <label class="logo">Nutristy</label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">login</a></li>
        </ul>
    <br> 
    <br>
    <div class="container" > 
        <div class="row"> 
        <div class="col-md-3"> 
                      
        </div> 
                  
        <div class="col-md-6 main"> 
                      
            <form action="/register" method="post"> 
                      
            <h1> Signup form </h1> 
            
            <label for="username">UserName</label>
            <input type="text" id="username" name="username">
            
            <label for="email">Email</label>
            <input type="email" name="email" id="email">

            <label for="address">Address</label>
            <textarea id="address" name="address" rows="4" cols="60">
            </textarea>

            <label for="phone">Mobile No</label>
            <input type="text" name="phone" id="phone">

            <label for="mealpref">Meal Preference</label>
            <select name="mealpref" id="mealpref">
                <option value="veg">Veg</option>
                <option value="nonveg">Non-Veg</option>
                <option value="vegan">Vegan</option>
            </select>
            <br><br>
            <label for="allergy">Allergies</label>
            <select name="allergy" id="allergy">
                <option value="none">None</option>
                <option value="gluten">Gluten</option>
                <option value="seafood">Sea Food</option>
                <option value="peanut">Peanut</option>
            </select>
            <br>
            <br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            
            
    
            <input type="submit" value="Submit"/>
            </form> 
                      
        </div> 
                  
                  
        <div class="col-md-3">
         
        </div> 
                  
        </div> 
    </div> 
</body> 
</html>
